.venv
.DS_Store
.cursorignore
.cursor
#ignore pycache files
**/*.pyc 

# Ignore all files in the data folder
data/*
output/*

# Ignore all files in the refs folder
refs/*

# Ignore cursor rules
.cursorignore
.cursor/rules/*
checkpoints/*

# Ignore all checkpoints cache file
**/**/cache/*