.venv
.DS_Store
.cursorignore
.cursor
#ignore pycache files
**/*.pyc 

# Ignore all files in the data folder
data/*
output/*

# Ignore all files in the refs folder
refs/*
pretrained/*

# Ignore cursor rules
.cursorignore
.cursor/rules/*
checkpoints/*

# Ignore all checkpoints cache file
**/**/cache/*

# Ignore all files in the Claude folder
CLAUDE.md

avhubert/
avhubert_s2s/
whisper_flamingo/
avsl/models/