torch
torchvision
av
torchaudio
transformers
datasets
evaluate
pandas
numpy
soundfile
librosa
ffmpeg-python
opencv-python
sentencepiece
scikit-image
dlib
tqdm
Cython
packaging
nemo_toolkit['asr']




